.disease td{
    width: 300px;
    border: 2px solid rgba(46, 42, 42, 0.164);
    padding: 15px;
    background: rgba(255, 255, 255, 0.568);
    color: #080101;
    font: 100% sans-serif;
    border-radius: 10px;
}