.diseaseType th{
    width: 25%;
    text-transform: rgb(238, 154, 255);
    border: 4px solid rgb(238, 154, 255);
    border-collapse: collapse;
    padding: 5px;
    background: rgba(255, 255, 255, 0.781);
    color: rgb(222, 67, 253);
    font: 110% sans-serif;
    font-weight: 700;
}